.sub-title-categories
{
    color: var(--text-color);
    text-decoration: underline;
    padding-left: 3%;
    font-size: 23px;
    font-weight: bolder;
    letter-spacing: 5px;
}
.sub-title-categories:hover
{
    color: #17e79d;
}
.CCImages
{
    width: 50px;
    margin-left: 0%;
    margin-top: 10px;
}
.rowccimages
{
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.categories-table-heading-style
{
    background-color: white;
    border: 1px solid grey;
}
.categories-table-heading-style
{
    background-color: transparent;
}