/* For dark mode */

:root {
  --dark: black;
  --white: white;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--dark);
  --connectIcon-grey-color: #464646;
  --tableRowBackColor: #f5f5f5;
  --image: url("../UI/moon.png");
  --indexPoolsTableHover: #b2ffff;
  --expandBtnHover: #f7f7f7;
  --docsTabsHover: #e6ecf1;
  --dropdown-color:#ebebeb;
}

body.dark {
  --background-color: var(--dark);
  --text-color: var(--white);
  --connectIcon-grey-color: white;
  --tableRowBackColor: #242424;
  --image: url("../UI/moon2.gif");
  --indexPoolsTableHover: #3b8888;
  --expandBtnHover: #242424;
  --docsTabsHover: #242424;
  --dropdown-color:#373737;
}

body, h1, h2, h3, h4, h5, h6, p, legend, table, tr, td,input[type=text] {
  background: var(--background-color);
  color: var(--text-color);
}
/* 
input[type=text]
{
  font-size: 30px;
} */

/* For dark mode */
/* 
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  
  pointer-events: none;
} */

#navbarSupportedContent {
  margin-left: 20%;
  font-weight: 500;
  color: var(--text-color);
  background: var(--background-color);
}

.iconConect {
  color: var(--connectIcon-grey-color);
  background: var(--background-color);
}

#logo-text {
  font-weight: 500;
  font-size: 45px;
  padding-left: 12%;
  letter-spacing: 5px;
  color: var(--text-color);
  background: var(--background-color);
}

.navbar-brand {
  margin-left: 2%;
}

.logo {
  width: 40px;
  height: 40px;
}

.navbar {
  opacity: 1;
  background: var(--background-color);
  color: var(--text-color);
  transition: none;
  border-bottom: 2px solid #616161;
  height: 100px;
}

#header-bars {
  color: var(--text-color);
}

.navbar:hover {
  opacity: 1;
}

/* For the effects when the scrolling starts */

html:not([data-scroll="0"]) body {
  padding-top: 3em;
}

html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #fff; */
  opacity: 1;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  transition: 0.4s linear;
}

/* For the effects when the scrolling starts */

.t-none
{
  transition: none;
}

#navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: var(--text-color);
  background: var(--background-color);
  text-align: center;
  border: none;
  font-weight: bold;
  font-size: 23px;
  margin-left: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}

#navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
  font-weight: normal;
  color: #40e79a;
  transition: none;
  /* transition: 0.2s linear; */
}

.img-connect-meta {
  border: 2px solid #666666;
  border-radius: 50%;
  cursor: pointer;
}

/*  */

@media all and (max-width:600px) {
  #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
    border: initial;
    border-radius: initial;
  }
  #logo-text {
    font-weight: 500;
    font-size: 40px;
    padding-left: 12%;
    letter-spacing: 3px
  }
  #navbarSupportedContent {
    margin-left: 25%;
    font-weight: 500;
    background: var(--background-color);
    border: 1px solid grey;
    border-radius: 3px;
  }
}